[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
